<event-new (grabarEvento)="insertarEvento($event)" *ngIf="showForm===true"></event-new>

<nav id="barrita" class="navbar navbar-light bg-light justify-content-between mt-3"> <!--  el form de filtrar y de buscar -->
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a id="letras" class="nav-link" href="#" (click)="orderDate()">Ordenar por fecha de lanzamiento</a>
    </li>
    <!--<li  class="nav-item">
      <a id="letras2" class="nav-link" href="#" (click)="orderPrice()">Orden por Precio/a>
    </li>-->
    <li>
      <select class="form-select" title="Selecciona un estudio" [(ngModel)]="estudio" name="estudio" aria-label="Selecciona un estudio">
        <option value="default">No seleccionar</option>
        <option value="{{studio}}" *ngFor="let studio of studios">{{studio}}</option>
      </select>
    </li>
  </ul>
  <form class="form-inline">
    <div class="form-group mb-2">
      <ul id="search-event-btn" class="nav nav-pills">
        <li class="nav-item"><input class="form-control mb-2" type="text" [(ngModel)]="search" name="search" placeholder="Buscar..." aria-label="Search"></li>
        <li id="add-event-btn" class="nav-item"><button type="button" class="btn btn-primary mb-2" (click)="toggle()" *ngIf="showForm===false">Nuevo Evento</button></li>
        <button id="hideForm" type="btn" class="btn btn-danger mb-2" (click)="toggle()" *ngIf="showForm === true">Cerrar formulario</button>
      </ul>
    </div>
  </form>

</nav>

<div class="row" *ngIf="events && events.length; else noEventos">
  <!-- <select [(ngModel)]="desplegable" (change)="cambiarFondo()">
    <option value="red">Rojo</option>
    <option value="blue">Azul</option>
  </select> -->
  <event-item class="col-6 mt-4" *ngFor="let event of events | eventFilter:search | studioFilter:estudio ; let i=index" [event]="event" [index]="i"
  [cssRojo]="esFondoRojo" [cssAzul]="esFondoAzul" [event]="event" [showImage]="showImage" (borrarEvento)="eliminarEvento(event)"></event-item>
</div>

<ng-template #noEventos>
  <p class="rojo">No hay eventos disponibles</p>
</ng-template>

