#star{
    color: rgba(236, 177, 3, 0.889);
}
#cuerpo{
    background: rgb(131,0,0);
background: radial-gradient(circle, rgba(131,0,0,0.8181022408963585) 0%, rgba(117,0,0,0.8629201680672269) 0%, rgba(75,0,0,0.8769257703081232) 27%, rgba(39,0,0,0.8881302521008403) 51%, rgba(0,0,0,0.801295518207283) 100%);
    color: white;
}
